[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
openpyxl = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
django-extensions = "*"
graphviz = "*"
pydot = "*"
pydotplus = "*"

[dev-packages]

[requires]
python_version = "3.10"
